empregos/empregos/empregos/bne.csv
bne.json
empregos/empregos/bne.json
empregos/bne_04_03.json
empregos/bne_log.txt
empregos/bneold.json
empregos/bne_log.txt
empregos/CODIGO_UF.csv
empregos/data/*
empregosBNE.csv
empregosBNE_semtratamento.csv
empregosBNE_tratado.csv

